// Fonts

$text-font: 'Barlow', sans-serif;
$title-font: 'Fraunces', serif;

// Colors

$title-color: hsl(212, 27%, 19%);
$text-color: hsl(213, 9%, 39%);
$underline-color: hsla(51, 100%, 49%, 0.705);

$footer-color: hsl(168, 40%, 67%);